/* GENERAL STYLES */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700";
:root {
    --main-bg-colour: rgb(128, 27, 66);
    --main-accent-colour: rgb(175, 36, 90);
    --main-title-text-colour: black;
    --main-text-colour: rgb(75, 75, 75);
    --main-text-inv-colour: white;
    --main-bg-text-colour: white;
    --divider-colour: #ddd;
    --uneven-colour: rgb(0, 0, 0, 0.05);
    

    --main-button-colour: var(--main-accent-colour);
    --main-button-hover-colour: var(--main-bg-colour);

    --volume-bg-colour: var(--divider-colour);
    --volume-colour: var(--main-accent-colour);

    --standard-animation: all 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg-text-colour);
    overflow-x: hidden;
    transition: var(--standard-animation);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 1.7em;
    color: var(--main-text-colour);
    margin-top: 15px;
    text-align: justify;
    transition: var(--standard-animation);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-title-text-colour);
    margin-bottom: 20px;
    transition: var(--standard-animation);
}

img {
    transition: var(--standard-animation);
}

li {
    color: var(--main-text-colour);
}

button {
    transition: var(--standard-animation);
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed var(--divider-colour);
    margin: 20px 0;
}

.vertical-line {
    height: auto;
    width: 1px;
    border-right: 1px dashed var(--divider-colour);
    margin: 0 20px;
}

.section-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--divider-colour);
    margin: 20px 0;
}

.nav-button {
    background: var(--main-bg-text-colour);
    color: var(--main-text-colour);
    border-radius: 3px;
    border: 1px solid var(--main-text-colour);
    margin: 5px 5px 5px 5px;
}
    
.nav-button:hover {
    background: var(--main-button-hover-colour);
    border: 1px solid var(--main-button-hover-colour);
    color: var(--main-text-inv-colour);
    transition: all 0.2s;
    cursor: pointer;
}

.nav-button-active {
    background: var(--main-button-colour);
    border: 1px solid var(--main-button-colour);
    color: var(--main-text-inv-colour);
}

.actual-content {
    margin-top: 20px;
    transition: var(--standard-animation);
}

/* CONTENT HOLDERS */

#content {
    min-height: 100vh;
    overflow: auto !important;
    margin-left: 268px;
    margin-right: auto;
    -webkit-transition: var(--standard-animation);
    -moz-transition: var(--standard-animation);
    -o-transition: var(--standard-animation);
    -ms-transition: var(--standard-animation);
    transition: var(--standard-animation);
}

#wrapper {
    transition: all 0.2s;
}

#actual-content-holder {
    padding: 20px;
    transition: var(--standard-animation);
}

/* HOME.HTML STYLING */
#home-header-logo {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: invert(100%); 
    -webkit-filter: invert(100%); 
}

#home-carousel-layout {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#home-carousel img {
    width: 70%;
}

#home-carousel-buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#home-carousel-buttons a {
    margin: 20px 30px 0px 30px;
}

#home-carousel-counter {
    transform: translateY(3px);
}

/* FOOTER STYLING */
#footer-content {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    justify-content: center;
}

#footer-content img{
    width: 70%;
    max-width: 300px;
    margin: 20px auto;
}

#footer-content p {
    text-align: center;
}

/* ABOUT.HTML STYLING */
#about-content {
    display: flex;
    flex-direction: column;
}

#about-buttons-holder {
    margin: 0;
}

.about-actual-content {
    margin-top: 20px;
}

.about-img {
    width: 40%;
    min-width: 300px;
    max-width: 600px;
}

/* BATCH.HTML STYLING */

#batch-buttons-holder {
    margin: 0px;
}

#batch-home-batches {
    display: flex;
    flex-wrap: wrap;
}

.batch-home-batch {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.batch-home-batch:hover {
    cursor: pointer;
}

.batch-home-batch h4 {
    margin: 0 auto;
    padding: 10px;
}

.batch-home-batch img{
    width: 75%;
    min-width: 350px;
    margin: 0 auto;
}

#batch-img {
    width: 40%;
}

.batch-holder {
    display: flex;
    flex-direction: row;
}

.batch-section {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.batch-section h4 {
    text-align: center;
    margin: 10px 0;
}

.batch-section p{
    text-align: center;
    margin: 0;
}

.batch-section img {
    width: 80%;
    min-width: 350px;
    margin: 0 auto;
}

#batches-carousel-layout {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#batches-carousel img {
    width: 70%;
}

#batches-carousel-buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#batches-carousel-buttons a {
    margin: 20px 30px 0px 30px;
}

#batches-carousel-counter {
    transform: translateY(3px);
}

/* SOV.HTML STYLING */
#sov-home h2 {
}

#sov-home-sovs {
    display: flex;
    flex-wrap: wrap;
}

#sov-home-sovs img {
    width: 30%;
}

.sov-album-art {
    max-width: 300px;
    align-content: flex-start !important;
    margin-left: auto;
    margin-right: auto;
}

.sov-repertoire-div {
    display: flex;
}

.sov-repertoire-div h4{
    text-align: center;
}

.sov-repertoire-half {
    width: 50%;
}

.sov-song {
    margin: 40px 0px;
}

.sov-song > .sov-song-title {
    font-family: 'PT Serif', serif;
    font-size: 1.4em;
    line-height: 1.0em;
    font-weight: 500;
    text-align: center;
    margin-left: 0 auto;
}

.sov-song > .sov-song-composer {
    font-family: 'PT Serif', serif;
    font-size: 1.0em;
    line-height: 1.1em;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}

#sov-youtube {
    display: flex;
}

#sov-youtube iframe {
    margin: 0 auto;
    width: 50%;
    min-height: 450px;
}

#sov-youtube-link {
    display: none;
    color: var(--main-accent-colour);
}

#sov-youtube-link:hover {
    color: blue !important;
    cursor: pointer !important;
}

#sov-downloads {
    display: flex;
    flex-direction: row;
}

.sov-download-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.sov-button {
    background: var(--main-bg-text-colour);
    color: var(--main-text-colour);
    border-radius: 3px;
    border: 1px solid var(--main-text-colour);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin: 10px 0;
}

.sov-button:hover {
    background: var(--main-button-hover-colour);
    border: 1px solid var(--main-button-hover-colour);
    color: var(--main-text-inv-colour);
    transition: all 0.2s;
    cursor: pointer;
}

.sov-button > i {
    margin-right: 5px;
}

.sov-button > .main-text {
    float: left;
    display: block;
    width: 50%;
    text-align: left;
    overflow: hidden;
}

.sov-button > .sub-text {
    float: right;
    display: block;
    width: 50%;
    text-align: end;
}

/* LISTEN.HTML STYLING */
.jp-details {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    text-align: center;
}

.jp-title {
    margin: 5px 0;
}

.jp-composer {
    color: var(--main-text-colour);
}

.jp-np-img {
    margin: 0 auto;
    width: 250px;
    height: 250px; 
    padding: 10px;
}

.jp-current-playlist {
    font-family: 'Open Sans', sans-serif;
}

.jp-type-single {
    background: var(--main-bg-color);
    position: aboslute;
}

.jp-controls {
    margin: 0 auto;
    display: flex;
    transition: all 0.3ms;
}

.jp-controls, .jp-next-back > button:hover {
    color: var(--main-text-colour);
    border-radius: 5px;
}

.jp-play, .jp-pause, .jp-prev {
    background: none;
    border: none;
    color: var(--main-text-colour);
    margin-right: 0;
    margin-left: auto;
}
.jp-stop {
    background: none;
    border: none;
    color: var(--main-text-colour);  
    margin-right: 0;
    margin-left: 0;
}

.jp-shuffle, .jp-next {
    background: none;
    border: none;
    color: var(--main-text-colour);  
    margin-right: auto;
    margin-left: 0;
}

.jp-next-back {
    display: flex;
    margin: 0 auto;
}

.jp-curr-count {
    font-family: 'Poppins', sans-serif;
    transform: translateY(-3px);
}

.jp-progress {
    border-radius: 30px;
    display: flex;
}

.jp-audio, .jp-video, .jp-audio:focus, .jp-video:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    /*IE*/
}

.jp-seek-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jp-play-bar-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jp-play-bar {
    background: var(--volume-colour);
    height: 10px;
}

.jp-play-bar-bg {
    background: var(--volume-bg-colour);
    height: 10px;
    width: auto;
    flex-grow: 1;
}

.jp-current-time, .jp-duration {
    margin: 10px;
}

.jp-volume-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jp-mute {
    background: none;
    border: none;
    color: var(--main-text-colour);
}

.jp-volume-bar {
    background: var(--volume-bg-colour);
    width: 100px;
    height: 10px;
    transform: translateY(-3px);
}

.jp-volume-bar-value {
    background: var(--volume-colour);
    height: 10px;
}

.playlists-holder {
    display: block;
}

.playlist-header {
    border-bottom: 1px solid var(--divider-colour);
}
.playlist-item {
    display: flex;
    flex-direction: column;
}

.playlist-item img {
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
    margin: 0;
}

.playlist-info {
    display: flex;
    align-items: center;
}

.playlist-info-text {
    margin-left: 15px;
}

.playlist-info-header {
    display: flex;
    flex-direction: row;
    margin: 5px 0px 5px 0px;
}

.playlist-info-header > button {
    margin: 0px 5px 0px 0px;
}

.playlist-info-text h2 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-bottom: 10px;
}

.playlist-info-text p {
    margin: 0;
    padding: 0;
}

.playlist-track-holder {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.playlist-track {
    display: flex;
    align-items: center;
}

.playlist-track > h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.playlist-track > p {
    margin: 0;
    padding: 0;
}

.track-favourite {
    width: 10%;
    text-align: center;
}

.track-number {
    width: 5%;
    text-align: center !important;
}

.track-title {
    width: 35%;
    text-align: left !important;
}

.track-composer {
    width: 35%;
    text-align: center !important;
}

.track-duration {
    width: 20%;
    text-align: center !important;
}

button.track-favourite {
    background: none;
    border: none;
    display: flex;
    color: var(--main-text-color);
    justify-content: center;
    cursor: pointer;
}

button.track-favourite:hover {
    color: red;
    transition: all 0.2ms;
}

.jp-playlist {
    display: none;
}

.playlist-track-holder ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.playlist-track-holder ul>li {
    list-style: none;
    padding: 8px 0px 8px 0px;
    margin: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.playlist-track-holder ul>li:nth-child(even) {
    background: var(--uneven-colour);
}

.playlist-track-holder ul>li:hover {
    background: var(--main-accent-colour);
    color: var(--main-text-inv-colour);
    transition: all 0.3s;
}

.playlist-track-holder ul > li:hover p, .playlist-track-holder ul > li:hover i {
    color: white;
}


.track-highlighted {
    background: var(--main-accent-colour) !important;
}

.track-highlighted > .playlist-track > p {
    color: white; 
}

.track-highlighted > .playlist-track > button {
    color: white !important;
}

/* MISC.HTML STYLING */
#misc-changelog-list p {
    margin: 0;
}

#misc-changelog-title {
    margin: 10px 0;
}

/* SNACK BAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 50vw; /* Set a default minimum width */
    background-color: rgba(51, 51, 51, 0.801); /* Black background color */    color: #fff; /* White text color */
    margin-left: -25vw;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--main-bg-text-colour);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--divider-colour);
    width: 60%;
  }

  .modal-header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .modal-header h2 {
      margin: 0;
  }
  
  /* The Close Button */
  .close {
    display: flex;
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s
  }

  .close > i {
      color: var(--main-text-colour);
  }

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 7px;
    overflow: scroll;
    transition: var(--standard-animation);
    -webkit-transition: var(--standard-animation);
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--main-bg-text-colour);
    overflow: scroll;
    transition: var(--standard-animation);
    -webkit-transition: var(--standard-animation);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--divider-colour);
    border-radius: 5px;
    overflow: scroll;
    transition: var(--standard-animation);
    -webkit-transition: var(--standard-animation);
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* SIDEBAR SETTINGS */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sticky-top {   
    top: 0.5em;
}

.navbar {
    padding-top: 10px;
    background: var(--main-bg-text-colour);
    border: none;
    min-width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--divider-colour);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    margin-left: -20px;
    visibility: hidden;
}

.navbar-title {
    text-align: left;
    position: absolute;
    margin-top: 1px;
    transition: var(--standard-animation);
}

.navbar-subpage-menu {
    margin-right: -8px;
}

.nav-item-active {
    color: #555;
    background: rgb(209, 124, 124);
    border-radius: 3px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    position: fixed;
    min-width: 275px; 
    max-width: 275px;
    min-height: 100%;
    height:100%;
    margin-left: -275px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background: var(--main-bg-colour);
    color: #fff;
    transition: var(--standard-animation);
    overflow-y: scroll;
}

#sidebar.active {
    margin-left: -275px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    font-size: 1.0em;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
    display: block;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

#sidebar ul li a i {
    margin-right: 6px;
}

#sidebar ul li a:hover {
    color: var(--main-bg-colour);
    background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: white;
    background: var(--main-accent-colour);
}

.scroll-sidebar {
    overflow-y: scroll;
 }



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul {
    margin-top: -5px;
}

ul ul li a {
    font-size: 0.9em !important;
    padding-left: 25px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    background: var(--main-accent-colour);
}

ul.CTAs {
    padding:0px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

ul.CTAs li {
    color: white;
}

a.download {
    background: #fff;
    color: var(--main-bg-colour);
    ;
}

a.article, a.article:hover {
    background: var(--main-accent-colour) !important;
    color: #fff !important;
}

.footer{
    color: white;
    text-align: center;
    font: 'Poppins', sans-serif;
    font-size: 0.8em;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#sidebarCollapse {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    transition: var(--standard-animation);
    transition-delay: 0.2s;
    background: var(--main-text-colour);
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* NIGHT MODE */
.night-mode-holder {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

#night-mode-switch {
    align-self: flex-end;
}

.night-mode-holder i {
    margin-right: 5px !important;
}

/* Switch */
/* The switch - the box around the slider */
.switch {
    align-self: flex-end;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 60px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--divider-colour);
    -webkit-transition: var(--standard-animation);
    transition: var(--standard-animation);
    background: var(--main-accent-colour);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: var(--standard-animation);
    transition: var(--standard-animation);
  }
  
  input:checked + .slider {
    background-color: rgb(81, 16, 41);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(81, 16, 41);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* LOADING BAR */
.load-bar {
    position: relative;
    height: 10px;
    background-color: var(--main-accent-colour);
    display: none;
    width: 100%;
  }
  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }
  .bar:nth-child(1) {
    background-color: var(--main-bg-colour);
    animation: loading 3s linear infinite;
  }
  .bar:nth-child(2) {
    background-color: var(--main-accent-colour);;
    animation: loading 3s linear 1s infinite;
  }
  .bar:nth-child(3) {
    background-color: white;
    animation: loading 3s linear 2s infinite;
  }
  @keyframes loading {
      from {left: 50%; width: 0;z-index:100;}
      33.3333% {left: 0; width: 100%;z-index: 10;}
      to {left: 0; width: 100%;}
  }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 992px) {
    #sidebar {
        margin-left: 0px;
    }

    #sidebar.active {
        margin-left: 0px;
        transform: none;
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
        margin-left: -25px;
        visibility: hidden;
        transition: none !important;
    }

    .navbar-title {
        text-align: left;
        position: absolute;
        margin-left: -10px;
        margin-top: 1px;
        transition: var(--standard-animation);
    }

}

.slide-sidebar {
    position: absolute;
    left: -275px;
    -webkit-animation: slide-sidebar 0.5s forwards;
    -webkit-animation-delay: 0.1s;
    animation: slide-sidebar 0.5s forwards;
    animation-delay: 0.1s;
    background: var(--main-bg-colour);
}

@-webkit-keyframes slide-sidebar {
    100% { left: 0; }
}

@keyframes slide-sidebar {
    100% { left: 0; }
}

#slide-navbar {
    top: -275px;
    -webkit-animation: slide-navbar 0.5s forwards;
    -webkit-animation-delay: 0.1s;
    animation: slide-navbar 0.5s forwards;
    animation-delay: 0.1s;
    transition: var(--standard-animation);
    color: blue;
}

@-webkit-keyframes slide-navbar {
    100% { top: 0; }
}

@keyframes slide-navbar {
    100% { top: 0; }
}


@media (max-width: 991px) {
    p {
        font-size: 0.9em;
    }

    #content {
        width: 100vw;
        margin-left: 0px;
    }
    #content.active {
        margin-left: 268px;
    }

    #home-header-logo {
        width: 70%;
    }

    #home-carousel img {
        width: 100%;
    }

    .vertical-line {
        display: none;
    }

    /* ABOUT */

    .about-img {
        width: 100%;
    }

    /* BATCHES */
    .batch-home-batch {
        width: 100%;
        margin: 10px 0px;
    }

    .batch-home-batch {
        max-width: 100%;
    }

    #batch-img {
        width: 100%;
    }

    .batch-holder {
        flex-direction: column;
    }

    .batch-section {
        width: 100% !important;
    }
    
    #batches-carousel img {
        width: 100%;
    }

    /* SOV */
    .sov-repertoire-div {
        flex-direction: column;
    }
    .sov-repertoire-half {
        width: 100%;
    }

    #sov-youtube > iframe {
        display: none;
    }

    #sov-youtube-link {
        display: block;
    }

    #sov-downloads {
        flex-direction: column;
    }

    .sov-download-section {
        width: 100% !important;
    }

    /* LISTEN */
    #myModal {
        padding-top: 20px;
    }

    .modal-content {
        width: 90%;
    }

    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 100vw; /* Set a default minimum width */
        max-width: 100vw;
        background-color: rgba(51, 51, 51, 0.801); /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 10px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        margin-left: -50vw;
    }

    .track-favourite {
        width: 10%
    }
    .track-number {
        width: 10%
    }

    .track-composer {
        display: none;
    }

    .track-title {
        width: 60%;
        text-align: justify;
    }

    .track-duration {
        width: 20%;
    }

    /* SIDEBAR */
    #content { 
        min-width: 100%;
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
        margin-left: -20px;
        visibility: visible;
    }
    .navbar-title {
        text-align: left;
        position: absolute;
        margin-left: 35px;
        margin-top: 1px;
    }
    .navbar-nav {
        margin-top: 10px;
    }
    .nav-item a {
        margin-left: 15px;
        padding: 15px;
    }
    .nav-item-active a {
        margin-left: 15px;
        padding: 10px;
    }

    #sidebar {
        margin-left: -275px;
    }
    #sidebar.active {
        margin-left: 0px;
        transform: none;
    }

    .nav-item {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 2px;
        margin-right: 10px;
        background: rgb(236, 236, 236);
    }
    #sidebarCollapse span:first-of-type, #sidebarCollapse span:nth-of-type(2), #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}