/* GENERAL STYLING */

#items-holder {
    display: flex;
    flex-wrap: wrap;
}

#items-holder > #stories-images-holder {
    flex: 0 0 50%;
    padding: 10px;
    border-right: 1px dashed #ddd;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

#items-holder > #stories-enlarged-image {
    flex: 0 0 50%;
    padding: 10px;
    border-right: 1px dashed #ddd;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

#enlarged-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 350px;
}

#enlarged-back-button {
    background-color: transparent;
    color: white;
    background-color: none;
    border: none;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    font-size: 1.0em;
    border-radius: 4px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

#enlarged-back-button i{
    color: black;
}

#enlarged-back-button:hover {
    background-color: rgb(0,0,0,0.1);
    color: white;
}


#items-holder > .text-holder {
    flex: 0 0 50%;
    padding-left: 25px;
}

#items-holder > .text-holder h3{
    flex: 0 0 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#items-holder > .text-holder > .stories-content > button {
    background-color: transparent;
    color: white;
    background-color: rgb(128, 27, 66);
    border: 1px solid rgb(128, 27, 66);
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    font-size: 1.0em;
    border-radius: 4px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#items-holder > .text-holder > .stories-content  > button:hover {
    background-color: rgb(175, 36, 90);
    border: 1px solid rgb(175, 36, 90);
}

#items-holder > .text-holder > .stories-content  > button:focus {
    outline: 0;
}

#items-holder > .text-holder > .stories-content  > button>i {
    margin-right: 5px;
}

#stories-text-holder {
    display: none;
}

.stories-author {
    color: rgb(128, 128, 128);
}

.story-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}


/* MEDIA CHANGES */

@media (max-width:1370px) {
    #items-holder > #stories-images-holder {
        flex: 0 0 100%;
        border-right: none;
        max-height: 400px;
    }

    #items-holder > #stories-enlarged-image {
        flex: 0 0 100%;
        border-right: none;
        max-height: 400px;
    }

    #items-holder > .text-holder {
        flex: 0 0 100%;
        padding-left: 0px;
        margin-top: 30px;
    }
}

@media (max-width:991px) {
    #items-holder > .text-holder {
        font-size: 0.8em;
    }

    #items-holder > .text-holder > .stories-content > button {
        font-size: 1.0em;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }

    #items-holder > #stories-images-holder {
        flex: 0 0 100%;
        border-right: none;
        width: 100%;
        max-height: 400px;
    }
}
