<div class="listen-header d-block">
  <div class="listen-header-buttons d-flex mb-4">
    <div class="d-flex row mx-0">
      <button *ngFor="let item of headerContent.sections" class="btn btn-outline-primary mx-1 mb-2 mb-md-0" [ngClass]="item == currActiveHeader ? 'active' : ''" (click)="currActiveHeader = item; isHeaderVisible = true;" onclick="this.blur(); event.stopPropagation()">
          {{item.title}}
      </button>
    </div>
    <div class="d-flex flex-grow-1 justify-content-end rounded listen-header-close" (click)="isHeaderVisible = !isHeaderVisible">
      <i class="fa fa-caret-up m-0 my-auto mr-md-3 mx-2" *ngIf="isHeaderVisible"></i>
      <i class="fa fa-caret-down m-0 my-auto mr-md-3 mx-2" *ngIf="!isHeaderVisible"></i>
    </div>
  </div>
  <div *ngIf="isHeaderVisible">
    <h3>{{currActiveHeader.header}}</h3>
    <div [innerHTML]="currActiveHeader.content"></div>
    <div *ngIf="currActiveHeader.title == 'Settings'">
      <h3>Settings</h3>
      <p>This is the settings page for the 'Listen' page of the website. Below, you will find some controls that are meant to alter your playlists / your experience in making these playlists.</p>
      <hr/>
      <div class="col m-0 p-0">
        <button class="btn btn-outline-danger mb-2" (click)="openModal(resetStorageModal)">Reset storage</button>
        <p>You currently have <b>{{myPlaylistsInfo.length}} playlists</b> stored.<br/>This button will <b>reset your storage</b>, removing all your playlists that you have created and imported. This action is irreversible.</p>

        <ng-template #resetStorageModal let-modal>
          <div class="container-fluid p-4">
            <h4>Clear your storage?</h4>
            <hr/>
            <p>This action is irreversible. Once you clear your storage, all your playlists will be removed from your local storage!</p>

            <div class="row justify-content-end d-flex mx-0">
              <button class="btn btn-outline-secondary mr-2" (click)="modal.dismiss()">Cancel</button>
              <button class="btn btn-danger" (click)="resetStorage(); modal.dismiss();">Clear Storage</button>
            </div>
          </div>
        </ng-template>
      </div>
      <hr/>
      <div class="col m-0 p-0">
        <div>
          <mat-slide-toggle id="toastSwitch" [(ngModel)]="areToastsEnabled" (change)="saveSettings()"></mat-slide-toggle>
          <p *ngIf="areToastsEnabled" class="m-0">Toasts are <b>enabled</b></p>
          <p *ngIf="!areToastsEnabled" class="m-0">Toasts are <b>disabled</b></p>
          <p>Toasts are the pop-ups at the top of the website. To enable or disable them for the 'Listen' page, use this switch.</p>
        </div>
        <br/>
        <div>
          <mat-slide-toggle id="headerSwitch" [(ngModel)]="isHeaderClosedOnStart" (change)="saveSettings()"></mat-slide-toggle>
          <p *ngIf="isHeaderClosedOnStart" class="m-0">Header will be <b>closed</b> on start</p>
          <p *ngIf="!isHeaderClosedOnStart" class="m-0">Header will be <b>opened</b> on start</p>
          <p>The header includes the introduction, tutorials etc. part of the 'Listen' page. To make it start off as closed when you load up this page, use this switch.</p>

        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>

<div class="listen-your-playlists">
  <div class="d-flex mb-2">
    <h5 class="flex-grow-1 my-auto">Your Playlists</h5>
    <!-- <button class="btn btn-outline-primary mr-2" (click)="openModal(importPlaylistModal)" onclick="this.blur();">
        <i class="fa fa-file-import small my-auto mx-0 mr-2"></i>
        Import Playlist
    </button> -->
    <button class="btn btn-outline-primary" (click)="createNewPlaylist();" onclick="this.blur();">
        <i class="fa fa-plus small my-auto mx-0 mr-2"></i>
        Create Playlist
    </button>
  </div>
  <div *ngFor="let playlist of myPlaylistsInfo; last as isLast" class="container-fluid p-0">
    <div class="playlist-header container-fluid row my-auto m-0 px-0 py-2" (click)="playlist.isOpen = !playlist.isOpen" *ngIf="!playlist.isOpen">
      <p class="col-6 m-0 pl-2 text-truncate"><b>{{playlist.name}}</b></p>
      <div class="col-6 text-right d-inline-block row p-0">
        <div class="d-inline">
          <span class="badge badge-pill badge-secondary mr-2">{{playlist.duration.hours() + "H " + playlist.duration.minutes() + "M"}}</span>
          <span class="badge badge-pill badge-primary">{{playlist.tracks.length}} SONGS</span>
        </div>
        <div class="d-inline ml-2">
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>

    <div class="playlist-content" *ngIf="playlist.isOpen">
      <div class="playlist-header playlist-content-header py-3" (click)="playlist.isOpen = !playlist.isOpen">
        <div class="row mx-2">
          <!-- <img src="{{playlist.artwork}}" class="playlist-artwork w-25 col m-0 pl-0 pr-3"> -->
          <div class="m-0 p-0 text-left col">
            <div class="d-flex">
              <h4 class="flex-grow-1 m-0 col-6 p-0">
                <input #name id="name" class="p-1" value="{{playlist.name}}" onclick="event.stopPropagation();" (keyup.enter)="name.blur()" (blur)="onKeyEnter(playlist, name)" autocomplete="off">
              </h4>
              <div class="col-6 d-flex justify-content-end">
                <!-- <i class="fa fa-file-export icon-primary mr-3 my-auto" placement="top" ngbTooltip="Get playlist code" [cdkCopyToClipboard]="exportPlaylist(playlist)" onclick="event.stopPropagation();"></i> -->
                <i class="fa fa-link icon-primary mr-3 my-auto" placement="top" ngbTooltip="Copy playlist link" (click)="getPlaylistLink(playlist)" onclick="event.stopPropagation();"></i>
                <i class="fa fa-times icon-danger mr-4 my-auto" placement="top" ngbTooltip="Delete playlist" (click)="openModal(deleteModal);" onclick="event.stopPropagation();"></i>
                <i class="fa fa-caret-up my-auto"></i>
              </div>
            </div>
            <p class="d-block m-0">
              <input #desc id="desc" class="col-12 p-1 my-1" value="{{playlist.desc}}" onclick="event.stopPropagation();" (keyup.enter)="desc.blur()" (blur)="onKeyEnter(playlist, desc)" autocomplete="off">
            </p>
            <button class="btn btn-outline-primary my-2" (click)="playSong(playlist, playlist.tracks[0])" onclick="event.stopPropagation();"><i class="fa fa-play mr-2"></i>Play</button>
          </div>
        </div>

      </div>
      <hr class="m-0" />
      <div class="playlist-songs" class="col m-0 p-0" [ngClass]="playlist.tracks.length > 0 ? '' : 'd-none'">
        <div class="song-title-row row m-0 py-2">
          <div class="d-inline-flex col-12 m-0 p-0">
            <p class="m-0 p-0 col-2 col-md-1"></p>
            <p class="song-number text-center col-1 col-md-1 m-0 p-0"><small>NO.</small></p>
            <p class="song-title text-left text-truncate col-8 col-md-9 m-0 p-0"><small>TITLE</small></p>
            <p class="song-duration text-center col-1 col-md-1 m-0 p-0"><small>DUR.</small></p>
          </div>
        </div>
        <div cdkDropList (cdkDropListDropped)="drop(playlist, $event)">
          <div class="song row m-0 py-2" *ngFor="let song of playlist.tracks; let i = index; last as isLast" [ngClass]="!isLast ? 'border-bottom' : ''" cdkDrag>

            <div class="d-inline-flex col-12 m-0 p-0">
              <div class="add-button text-center p-0 m-0 col-2 col-md-1 d-flex justify-content-around" (click)="removeSongFromPlaylist(song, playlist)">
                <div cdkDragHandle>
                  <i class="fa fa-bars small"></i>
                </div>
                <div>
                  <i class="fa fa-times text-danger small"></i>
                </div>
              </div>
              <p class="song-number text-center col-1 col-md-1 m-0 p-0"><small>{{i+1}}</small></p>
              <p class="song-title text-left text-truncate col-8 col-md-9 m-0 p-0">{{song.title}} <small class="song-composer">{{song.composer}}</small></p>
              <p class="song-duration text-center col-1 col-md-1 m-0 p-0"><small>{{song.duration | formatDuration}}</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist-songs-placeholder text-center justify-content-center mt-2" [ngClass]="playlist.tracks.length <= 0 ? 'd-flex' : 'd-none'">
        <p class="col-10"><small>It looks like you don't have any songs added to this playlist yet! Click on the '+' button next to the songs to add them to your playlist!</small></p>
      </div>
    </div>

    <ng-template #deleteModal let-modal>
      <div class="container-fluid p-4">
        <h4>Delete "{{playlist.name}}"?</h4>
        <hr/>
        <p>This action is irreversible. Once you delete this playlist, the existing data will be wiped from your local storage!</p>

        <div class="row justify-content-end d-flex mx-0">
          <button class="btn btn-outline-secondary mr-2" (click)="modal.dismiss()">Cancel</button>
          <button class="btn btn-danger" (click)=" deletePlaylist(playlist); modal.dismiss();">Delete Playlist</button>
        </div>
      </div>
    </ng-template>

    <hr *ngIf="!isLast" class="m-0" />

  </div>
</div>
<hr/>

<div class="listen-default-playlists">
  <h5 class="mt-4">Default Playlists</h5>
  <div *ngFor="let sov of sovInfo; last as isLast" class="container-fluid p-0">
    <div class="playlist-header container-fluid row my-auto m-0 px-0 py-2" (click)="sov.isOpen = !sov.isOpen" *ngIf="!sov.isOpen">
      <p *ngIf="innerWidth > 600" class="col-6 m-0 pl-2 text-truncate"><b>{{sov.title}}</b></p>
      <p *ngIf="innerWidth <= 600" class="col-6 m-0 pl-2 text-truncate"><b>{{sov.abbr}}</b></p>
      <div class="col-6 text-right d-inline-block row p-0">
        <div class="d-inline">
          <span class="badge badge-pill badge-secondary mr-2">{{sov.repertoire.duration.hours() + "H " + sov.repertoire.duration.minutes() + "M"}}</span>
          <span class="badge badge-pill badge-primary">{{sov.repertoire.tracks.length}} SONGS</span>
        </div>
        <div class="d-inline ml-2">
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>

    <div class="playlist-content" *ngIf="sov.isOpen">
      <div class="playlist-header playlist-content-header py-3" (click)="sov.isOpen = !sov.isOpen">
        <div class="row mx-2">
          <img src="{{sov.artwork}}" class="playlist-artwork w-25 col m-0 pl-0 pr-3">
          <div class="m-0 p-0 text-left col">
            <div class="d-flex">
              <h4 class="flex-grow-1 m-0">{{sov.title}}</h4>
              <i class="fas fa-caret-up m-0 my-auto mx-3"></i>
            </div>
            <p class="d-block m-0" [innerHTML]="sov.intro"></p>
            <button class="btn btn-outline-primary my-2" (click)="playSong(sov.repertoire, sov.repertoire.tracks[0])" onclick="event.stopPropagation();"><i class="fa fa-play mr-2"></i>Play</button>
          </div>
        </div>

      </div>
      <hr class="m-0" />
      <div class="playlist-songs" class="col m-0 p-0">
        <div class="song-title-row row m-0 py-2">
          <div class="d-inline-flex col-12 m-0 p-0">
            <p class="m-0 p-0 col-1"></p>
            <p class="song-number text-center col-1 m-0 p-0"><small>NO.</small></p>
            <p class="song-title text-left text-truncate col-9 m-0 p-0"><small>TITLE</small></p>
            <p class="song-duration text-center col-1 m-0 p-0"><small>DUR.</small></p>
          </div>
        </div>
        <div class="song row m-0 py-2" *ngFor="let song of sov.repertoire.tracks; let i = index; last as isLast" [ngClass]="!isLast ? 'border-bottom' : ''">


          <div class="d-inline-flex col-12 m-0 p-0">
            <div placement="bottom-left" class=" my-auto p-0 m-0 col-1 text-center add-button" display="static" ngbDropdown>
              <i class="fa fa-plus small d-block p-1 mx-auto" ngbDropdownToggle></i>
              <div ngbDropdownMenu>
                <p class="mx-3 my-0"><small><b>Add song to...</b></small></p>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem *ngFor="let playlist of myPlaylistsInfo" class="py-2 px-3 text-truncate" (click)="addSongToPlaylist(song, playlist)">{{playlist.name}}</button>
              </div>
            </div>
            <p class="song-number text-center col-1 m-0 p-0"><small>{{i+1}}</small></p>
            <p class="song-title text-left text-truncate col-9 m-0 p-0">{{song.title}} <small class="song-composer">{{song.composer}}</small></p>
            <p class="song-duration text-center col-1 m-0 p-0"><small>{{song.duration | formatDuration}}</small></p>
          </div>
        </div>
      </div>
    </div>

    <hr *ngIf="!isLast" class="m-0" />

  </div>

</div>