<div class="d-flex row ml-0">
  <button class="btn btn-outline-primary mx-1 mb-2" [ngClass]="currActive ? '' : 'active'" (click)="currActive = null" onclick="this.blur(); window.scroll(0,0);" [routerLink]="" fragment="home">
      Home
    </button>
  <button *ngFor="let batch of batches" class="btn btn-outline-primary mx-1 mb-2" [ngClass]="batch == currActive ? 'active' : ''" (click)="currActive = batch" [routerLink]="" fragment="{{batch.id}}" onclick="this.blur(); window.scroll(0,0);">
          {{batch.name}}
      </button>
</div>

<div class="content" class="my-3">
  <div class="section" [ngClass]="currActive ? 'd-none' : ''" id="home">

    <h3>{{batchesIntro.title}}</h3>
    <div [innerHTML]="batchesIntro.msg">
    </div>

    <hr/>

    <div class="container-fluid d-flex align-content-start flex-wrap">
      <div *ngFor="let batch of batches" class="link col-12 col-xl-6 my-3" (click)="currActive = batch" [routerLink]="" fragment="{{batch.id}}" onclick="window.scroll(0,0);">
        <img src="{{batch.image}}" class="img-fluid rounded" />
        <h4 class="my-2 text-center">Batch of {{batch.name}}</h4>
      </div>
    </div>
  </div>

  <div class="section" *ngIf="currActive" [ngClass]="currActive ? '' : 'd-none'">

    <div>
      <h3>Batch of {{currActive.name}}</h3>
      <img src="{{currActive.image}}" class="col-12 col-md-6 mx-0 px-0 mb-2 rounded">
      <p [innerHTML]="currActive.desc">
      </p>
    </div>

    <hr/>

    <div>
      <h4>The Choir</h4>
      <div class="container-fluid">
        <h4 class="text-center">Committees</h4>
        <div class="row justify-content-center mb-5">
          <div class="text-center col-12 col-md-6" *ngFor="let comm of currActive.comms">
            <h5 class="text-center">{{comm.name}}</h5>
            <img src="{{comm.img}}" class="img-fluid rounded" />
            <p class="text-center">{{comm.members | appendNames}}</p>

          </div>
        </div>

        <h4 class="text-center">Members</h4>
        <div class="row container-fluid text-center m-0">
          <div *ngFor="let section of currActive.sections" class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <h5>{{section.name}}</h5>
            <ul class="list-group">
              <li class="list-group-item justify-content-between align-items-center">
                <p class="m-0 p-0">{{section.members[0]}}</p>
                <span class="badge badge-primary badge-pill">SL</span>
              </li>
              <li class="list-group-item" *ngFor="let name of section.members | slice:1:section.members.length-1">
                <p class="m-0 p-0">{{name}}</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="currActive.photos">
      <hr/>
      <h4>Featured Photos</h4>

      <ngb-carousel class="mx-auto my-3 col-sm-12 col-md-8">
        <ng-template ngbSlide *ngFor="let image of currActive.photos">
          <div class="text-center">
            <img src="{{image}}" class="img-fluid">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>