@import "../../../styles.scss";
#sidebar {
  height: 100vh;
  width: 250px;
  background: $base-color;
  font-family: $title-text-font;
  color: $sidebar-text-color;
  transition: all 0.3s;
  li {
    padding: 12px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s;
    i {
      margin-right: 8px;
    }
    a {
      color: $sidebar-text-color;
    }
    &:hover {
      color: $base-color;
      background: $sidebar-text-color;
    }
    &:focus {
      outline: 0;
    }
  }
  .active {
    background: $accent-color;
  }
}