<div class="container-fluid row p-0 m-0">
  <app-sidebar [sidebarItems]="menu" [controller]="controller" [currActive]="currActive"></app-sidebar>
  <div class="col p-0 m-0">
    <app-navbar [menu]="menu" [controller]="controller" [currActive]="currActive"></app-navbar>

    <div class="row m-0">
      <div class="col-sm-12 col-xl-9 mt-3">
        <router-outlet></router-outlet>
        <div class="bottom-padder"></div>
      </div>
      <div class="sider col-sm-0 col-xl-3 m-0 p-0">
        <app-sider></app-sider>
      </div>
    </div>
  </div>

  <app-player></app-player>
</div>