<div class="player-layout fixed-bottom d-inline-block" [ngClass]="isMinimised ? 'active' : ''">
  <div class="player-header" (click)="isMinimised = !isMinimised">
    <div class="row justify-content-between mx-3 py-3" [ngClass]="isMinimised ? 'd-none' : ''">
      <p class="m-0">Player</p>
      <i class="fas fa-caret-down mt-1"></i>
    </div>
    <div class="row justify-content-between mx-3 py-3" [ngClass]="!isMinimised ? 'd-none' : ''">
      <div class="row m-0 p-0 col-8">
        <img class="player-min-artwork" src="{{currActivePlaylist.artwork}}">
        <div class="col m-0 p-0 ml-3 text-left">
          <p class="m-0 d-block text-truncate">{{nowPlaying.title}}</p>
          <p class="m-0"><small>{{currActivePlaylist.title}}</small></p>
        </div>
      </div>

      <div class="mx-0 my-auto col-4">
        <div class="row m-0 p-0 justify-content-between">
          <button class="btn big-play-button p-0" [disabled]="nowPlaying.id - 1 < 0" (click)="onBigPrevClick($event)">
                <i class="fas fa-step-backward mt-1 mr-2 my-auto"></i>
            </button>
          <button class="btn big-play-button p-0" (click)="onBigPlayClick($event)">
              <i class="fas fa-play mt-1 mr-2 my-auto" [ngClass]="isMinimised && isPlaying ? 'd-none' : ''"></i>
              <i class="fas fa-pause mt-1 mr-2 my-auto" [ngClass]="isMinimised && !isPlaying ? 'd-none' : ''"></i>
            </button>
          <button class="btn big-play-button p-0" [disabled]="nowPlaying.id + 1 >= currActivePlaylist.repertoire.tracks.length" (click)="onBigNextClick($event)">
                <i class="fas fa-step-forward mt-1 mr-2 my-auto" ></i>
            </button>
        </div>
      </div>
    </div>
    <hr class="my-0" />
  </div>

  <div class="player-plyr">
    <plyr plyrType="audio" [plyrSources]="audioSources" (plyrCanPlay)="onCanPlay()" (plyrEnded)="loadNextSong()"></plyr>
  </div>
  <div class="player-active-window-header row p-0 m-0">
    <button class="btn" [ngClass]="currDisplayedPlaylist ? '' : 'd-none'" (click)="onBackClick()"><small><i class="fa fa-arrow-left"></i></small></button>
    <h6 class="text-left p-2 m-0 my-auto">{{activeWindowTitle}}</h6>
  </div>
  <div id="player-playlists" class="player-playlists d-flex flex-column">
    <div class="col m-0 p-0" [ngClass]="currDisplayedPlaylist ? 'd-none' : ''">
      <div class="player-playlists-item row m-0" *ngFor="let sov of sovInfo" (click)="displayPlaylist(sov)">
        <img src="{{sov.artwork}}">
        <p class="my-auto ml-3">{{sov.title}}</p>
      </div>
    </div>

    <div class="col m-0 p-0" *ngIf="currDisplayedPlaylist">
      <div class="song row m-0 py-2" *ngFor="let song of currDisplayedPlaylist.repertoire.tracks; let i = index" (click)="loadSong(song)" [ngClass]="nowPlaying == song ? 'active' : ''">
        <p class="song-number text-center col-1 m-0 p-0"><small>{{i+1}}</small></p>
        <p class="song-title text-left text-truncate col-10 m-0 p-0">{{song.title}} <small class="song-composer">{{song.composer}}</small></p>
        <p class="song-duration text-center col-1 m-0 p-0"><small>{{song.duration}}</small></p>
      </div>
    </div>
  </div>
</div>