@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Karla:300,400,500,600,700";
$base-color: rgb(128, 27, 66);
$base-color-faded: rgb(128, 27, 66, 0.5);
$accent-color: rgb(175, 36, 90);
$background-color: rgb(250, 250, 250);
$primary-text-color: rgb(0, 0, 0);
$primary-text-color-faded: rgb(0, 0, 0, 0.5);
$primary-text-inv-color: rgb(255, 255, 255);
$primary-text-inv-color-faded: rgb(255, 255, 255, 0.5);
$sidebar-text-color: rgb(255, 255, 255);
$navbar-background-color: rgb(255, 255, 255);
$sider-background-color: rgb(0, 0, 0, 0.05);
$sider-background-color-inv: rgb(255, 255, 255, 0.5);
$sider-primary-color: rgb(0, 0, 0, 0.40);

$dark-base-color: rgb(35, 7, 18);
$dark-accent-color: rgb(255, 255, 255);
$dark-background-color: rgb(48, 9, 24);
$dark-primary-text-color: rgb(250, 250, 250);
$dark-border-color: rgba(255,255,255,.2);

$title-text-font: 'Poppins',
sans-serif;
$primary-text-font: 'Karla',
sans-serif;

/* Application-wide Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-text-font;
}

p {
  font-family: $primary-text-font;
  font-size: large;
}

.sider {
  display: block;
  background: $sider-background-color;
  min-height: 95vh;
}

.invalid {
  font-family: $primary-text-font;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.required {
  color: #dc3545;
}

img {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.ngx-toastr {
  margin-top: 12px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.toast-success,
.toast-error,
.toast-info,
.toast-warning {
  font-family: $primary-text-font !important;
}

ngb-carousel {
  &:focus {
    outline: none;
  }
  img {
    animation: none;
  }
}
.bottom-padder {
  color: none;
  background: none;
  height: 1px;
  display: flex;
  padding: 3rem 0rem 3rem 0rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* themes */

.light-mode {
  .btn-outline-primary {
    color: $accent-color !important;
    border-color: $accent-color !important;
    font-family: $title-text-font;
    &:hover {
      color: white !important;
      background-color: $accent-color !important;
    }
    &:focus,
    &.active {
      color: white !important;
      background-color: $accent-color !important;
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-primary {
    font-family: $title-text-font;
    background: $accent-color;
    color: white;
    border: none;
    &:hover {
      color: white !important;
      background: $accent-color;
    }
    &:focus,
    &.active {
      background: $accent-color;
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-outline-secondary {
    font-family: $title-text-font;
    &:hover {
      color: white !important;
    }
    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-danger {
    font-family: $title-text-font;
    &:hover {
      color: white !important;
    }
    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-outline-danger {
    font-family: $title-text-font;
    &:hover {
      color: white !important;
    }
    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .badge {
    font-family: $primary-text-font;
  }
  .badge-primary {
    background-color: $accent-color !important;
  }
  .link {
    cursor: pointer;
    &:hover {
      color: white;
      background: $accent-color;
      border-radius: 0.3em;
    }
    &:focus {
      outline: none;
    }
  }
  
  html,
  body {
    height: 100%;
  }
  .icon-primary {
    color: $base-color;
    &:hover {
      color: $accent-color;
    }
  }
  .icon-danger {
    color: red;
  }
  
  .mat-slide-toggle {
    &.mat-checked {
      .mat-slide-toggle-thumb {
        background: $accent-color;
      }
    }
  }
  form {
    font-family: $primary-text-font;
    .form-control {
      &:focus {
        border-color: $accent-color;
        box-shadow: none;
      }
    }
    .custom-select {
      &:focus {
        border-color: $accent-color;
        box-shadow: none;
      }
    }
  }
  .hr-inv {
    color: $primary-text-inv-color;
    border-top: 1px $primary-text-inv-color solid;
  }

}

.dark-mode {
  background: $dark-background-color;
  h1, h2, h3, h4, h5, h6, p, i, label {
    color: $dark-primary-text-color;
  }

  hr {
    border-top: 1px solid rgba(255,255,255,.2);
  }

  nav {
    background: $dark-base-color !important;

    &.navbar {
      border-bottom: 2px solid $dark-border-color;
    }
    
    .navbar-brand {
      color: $dark-primary-text-color !important;
    }
  }
  
  #sidebar {
    .active {
      color: $dark-base-color !important;
      background: $dark-primary-text-color !important;
      
      &:hover {
        color: $dark-base-color !important;
        i {
          color: $dark-base-color !important;
        }
      }

      i {
        color: $dark-base-color;
      }
    }

    li {
      &:hover {
        color: $dark-base-color !important;
        i {
          color: $dark-base-color !important;
        }
      }
    }
  }

  .btn-outline-primary {
    color: $dark-primary-text-color !important;
    border-color: $dark-primary-text-color !important;
    font-family: $title-text-font;
    &:hover {
      color: $dark-background-color !important;
      background-color: $dark-primary-text-color !important;

      i {
        color: $dark-background-color;
      }
    }
    &:focus,
    &.active {
      color: $dark-background-color !important;
      background-color: $dark-primary-text-color !important;
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-primary {
    font-family: $title-text-font;
    background: $accent-color;
    color: white;
    border: none;
    &:hover {
      color: white !important;
      background: $accent-color;
    }
    &:focus,
    &.active {
      background: $accent-color;
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-outline-secondary {
    font-family: $title-text-font;
    color: $dark-primary-text-color;
    border-color: $dark-primary-text-color;
    &:hover {
      color: white !important;
    }
    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-danger {
    font-family: $title-text-font;
    &:hover {
      color: white !important;
    }
    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }
  .btn-outline-danger {
    font-family: $title-text-font;
    &:hover {
      color: white !important;
    }
    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0px !important;
    }
  }

  .badge {
    font-family: $primary-text-font;
  }
  .badge-primary {
    background-color: $dark-primary-text-color !important;
    color: $dark-base-color !important;
  }

  .link {
    cursor: pointer;
    &:hover {
      h4 {
        color: $dark-background-color !important;
      }
      background: $dark-primary-text-color;
      border-radius: 0.3em;
    }
    &:focus {
      outline: none;
    }
  }

  .list-group {
    .list-group-item {
      color: $dark-primary-text-color !important;
      background-color: $dark-base-color !important;
      border: 1px solid $dark-border-color;
    }
  }

  .repertoire {
    ol {
      list-style: none;
      .composer {
        color: $dark-primary-text-color !important;
      }
      .id {
        color: $dark-primary-text-color;
      }
      li {
        border: 1px solid $dark-background-color !important; 
        border-bottom: 1px $dark-border-color solid !important;
        &:hover {
          border: 1px $dark-border-color solid !important;
        }
      }
    }
  }

  app-listen {
    .listen-header-close {
      &:hover {
        background: $dark-primary-text-color;
        color: $dark-background-color;
      }
    }
    
    .playlist-header {
      &:hover {
        background: $dark-primary-text-color;
        color: $dark-background-color !important;

        h4, p, i {
          color: $dark-background-color !important;
        }

        .btn {
          color: $dark-background-color !important;
          border-color: $dark-background-color !important;

          &:hover {
            color: $dark-primary-text-color !important;
            background: $dark-background-color !important;

            i {
              color: $dark-primary-text-color !important;
            }
          }
        }

        input {
          color: $dark-background-color;
        }
      }
      input {
        background: none;
        color: $dark-primary-text-color;
        border: 1px solid $dark-background-color;
        outline: none;
        &:focus {
          border: none;
        }
        &:hover {
          color: $dark-background-color !important;
          border: 1px solid $dark-background-color !important;
        }
      }
    }
    
    .song {
      .song-composer,
      .song-number {
        color: $dark-primary-text-color !important;
      }
      &:hover {
        background: $dark-primary-text-color;
        color: $dark-background-color !important;

        .song-title,
        .song-duration,
        .song-composer,
        .song-number {
          color: $dark-background-color !important;
        }
        
        i {
          color: red !important;
        }
      }
      &.border-bottom {
        border-bottom: 1px solid $dark-border-color !important;
      }
      .dropdown-toggle {
        color: $dark-primary-text-color !important;
      }
    }
    
    .song-title-row {
      .song-number,
      .song-title,
      .song-duration {
        color: $dark-primary-text-color !important;
      }
    }
    
    .add-button {
      .dropdown-menu {
        background: $dark-background-color;
        border: 1px solid $dark-primary-text-color;
      }

      .dropdown-item {
        font-family: $primary-text-font;
        max-width: 300px;
        color: $dark-primary-text-color;
        &:hover {
          outline: none;
          background: $dark-primary-text-color;
          color: $dark-background-color;
        }
      }
    }
  }

  .modal-content {
    background: $dark-background-color;

    h1, h2, h3, h4, h5, h6, p {
      color: $dark-primary-text-color;
    }

    hr {
      border-bottom: 1px solid $dark-border-color;
    }
  }

  .mat-slide-toggle {
    &.mat-checked {
      .mat-slide-toggle-thumb {
        background: $dark-primary-text-color;
      }
    }
  }

  input, select, textarea {
    font-family: $primary-text-font;
    background: $dark-background-color;
    color: $dark-primary-text-color;

    &:focus {
      background: $dark-background-color;
      color: $dark-primary-text-color;
      outline: none;
      box-shadow: none;
      border: 1px solid $dark-primary-text-color;
    }
  }

  app-player {
    .player-layout {
      background: $dark-background-color;
      color: $dark-primary-text-color;
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  
      h1, h2, h3, h4, h5, h6, p, i {
        color: $dark-primary-text-color;
      }

      .player-playlists {
        .player-playlists-item {
          height: 50px;
          border-bottom: 1px solid $dark-border-color !important;
          &:hover {
            cursor: pointer;
            background: $dark-primary-text-color !important;
            p {
              color: $dark-background-color !important;
            }
          }
        }
      }

      .song {
        border-bottom: 1px solid $dark-border-color !important;
        .song-composer,
        .song-number {
          color: $dark-primary-text-color !important;
        }
        &:hover {
          background: $dark-primary-text-color !important;
  
          .song-title,
          .song-duration,
          .song-composer,
          .song-number {
            color: $dark-background-color !important;
          }
        }
        &.border-bottom {
          border-bottom: 1px solid $dark-border-color !important;
        }
        .dropdown-toggle {
          color: $dark-primary-text-color !important;
        }

        &.active {
          p {
            color: $dark-background-color !important;
            small {
              color: $dark-background-color !important;
            }
          }
          background: $dark-primary-text-color !important;
        }
      }
      
      .song-title-row {
        .song-number,
        .song-title,
        .song-duration {
          color: $dark-primary-text-color !important;
        }
      }

      .player-info {
        .np-composer {
          color: $dark-primary-text-color !important;
        }
        .np-playlist-title {
          a {
            color: $dark-primary-text-color !important;
          }
        }
      }

      plyr {
        --plyr-color-main: rgb(175, 36, 90);
        --plyr-badge-text-color: $dark-primary-text-color;
        --plyr-video-control-color: $dark-primary-text-color;
        --plyr-audio-control-color: $dark-primary-text-color;
        --plyr-time: $dark-primary-text-color;
        --plyr-audio-controls-background: none;
      }
    }
  }
}


/* Responsive handling */

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2.0rem !important;
  }

  h2 {
    font-size: 1.75rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }
  p {
    font-size: medium !important;
  }

  
.bottom-padder {
  padding: 2rem 0rem 2rem 0rem;
}
}

@media only screen and (max-width: 768px) {
  .no-scroll {
    overflow: hidden;
  }
}