@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Application-wide Styles */

$base-color: rgb(128, 27, 66);
$accent-color: rgb(175, 36, 90);

$primary-text-color: rgb(0, 0, 0);
$primary-text-inv-color: rgb(255, 255, 255);

$sidebar-text-color : rgb(255, 255, 255);

$title-text-font: 'Poppins', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $title-text-font;
}