<div class="listen-header d-block">
  <div class="d-flex row ml-0 mb-2">
    <button *ngFor="let item of headerContent.sections" class="btn btn-outline-primary mx-1 mb-2" [ngClass]="item == currActiveHeader ? 'active' : ''" (click)="currActiveHeader = item" onclick="this.blur();">
          {{item.title}}
      </button>
  </div>
  <h3>{{currActiveHeader.header}}</h3>
  <p [innerHTML]="currActiveHeader.content"></p>
  <hr/>
  <button class="btn btn-outline-danger col-2" (click)="listenService.resetStorage()">Reset storage</button>
</div>

<div class="listen-your-playlists">
  <div class="d-flex mb-2">
    <h5 class="flex-grow-1 my-auto">Your Playlists</h5>
    <button class="btn btn-outline-primary" (click)="createNewPlaylist();" onclick="this.blur();">
        <i class="fa fa-plus small my-auto mx-0 mr-2"></i>
        Create Playlist
    </button>
  </div>
  <div *ngFor="let playlist of myPlaylistsInfo; last as isLast" class="container-fluid p-0">
    <div class="playlist-header container-fluid row my-auto m-0 px-0 py-2" (click)="playlist.isOpen = !playlist.isOpen" *ngIf="!playlist.isOpen">
      <p class="col-8 m-0 pl-2"><b>{{playlist.name}}</b></p>
      <div class="col-4 text-right d-inline-block row p-0">
        <div class="d-inline">
          <span class="badge badge-pill badge-secondary mr-2">{{playlist.duration.hours() + "H " + playlist.duration.minutes() + "M"}}</span>
          <span class="badge badge-pill badge-primary">{{playlist.tracks.length}} SONGS</span>
        </div>
        <div class="d-inline ml-2">
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>

    <div class="playlist-content" *ngIf="playlist.isOpen">
      <div class="playlist-header playlist-content-header py-3" (click)="playlist.isOpen = !playlist.isOpen">
        <div class="row mx-2">
          <!-- <img src="{{playlist.artwork}}" class="playlist-artwork w-25 col m-0 pl-0 pr-3"> -->
          <div class="m-0 p-0 text-left col">
            <div class="d-flex">
              <h4 class="flex-grow-1 m-0">
                <input #name id="name" class="col-10 p-1" value="{{playlist.name}}" onclick="event.stopPropagation();" (keyup.enter)="name.blur()" (blur)="onKeyEnter(playlist, desc)" autocomplete="off">
              </h4>
              <button class="btn btn-outline-danger col-2" onclick="event.stopPropagation()" (click)="modalService.open(deleteModal);">Delete Playlist</button>
              <i class="fas fa-caret-up m-0 my-auto mx-3"></i>
            </div>
            <p class="d-block m-0">
              <input #desc id="desc" class="col-12 p-1 my-1" value="{{playlist.desc}}" onclick="event.stopPropagation();" (keyup.enter)="desc.blur()" (blur)="onKeyEnter(playlist, desc)" autocomplete="off">
            </p>
          </div>
        </div>

        <ng-template #deleteModal let-modal>
          <div class="container-fluid p-4">
            <h4>Delete "{{playlist.name}}"?</h4>
            <hr/>
            <p>This action is irreversible. Once you delete this playlist, the existing data will be wiped from your local storage!</p>

            <div class="row justify-content-end d-flex mx-0">
              <button class="btn btn-outline-secondary mr-2" (click)="modal.dismiss()">Cancel</button>
              <button class="btn btn-danger" (click)=" deletePlaylist(playlist); modal.dismiss();">Delete Playlist</button>
            </div>
          </div>
        </ng-template>

      </div>
      <hr class="m-0" />
      <div class="playlist-songs" class="col m-0 p-0">
        <div class="song-title-row row m-0 py-2">
          <p class="m-0 p-0 add-button"></p>
          <div class="d-flex flex-grow-1 row">
            <p class="song-number text-center col-1 m-0 p-0"><small>NO.</small></p>
            <p class="song-title text-left text-truncate col-9 m-0 p-0"><small>TITLE</small></p>
            <p class="song-duration text-center col-2 m-0 p-0"><small>DUR.</small></p>
          </div>
        </div>
        <div class="song row m-0 py-2" *ngFor="let song of playlist.tracks; let i = index">

          <i class="fa fa-plus text-center my-auto p-0 m-0 add-button small"></i>
          <div class="d-flex flex-grow-1 row">
            <p class="song-number text-center col-1 m-0 p-0"><small>{{i+1}}</small></p>
            <p class="song-title text-left text-truncate col-9 m-0 p-0">{{song.title}} <small class="song-composer">{{song.composer}}</small></p>
            <p class="song-duration text-center col-2 m-0 p-0"><small>{{song.duration | formatDuration}}</small></p>
          </div>
        </div>
      </div>
    </div>

    <hr *ngIf="!isLast" class="m-0" />

  </div>
</div>
<hr/>

<div class="listen-default-playlists">
  <h5 class="mt-4">Default Playlists</h5>
  <div *ngFor="let sov of sovInfo; last as isLast" class="container-fluid p-0">
    <div class="playlist-header container-fluid row my-auto m-0 px-0 py-2" (click)="sov.isOpen = !sov.isOpen" *ngIf="!sov.isOpen">
      <p class="col-8 m-0 pl-2"><b>{{sov.title}}</b></p>
      <div class="col-4 text-right d-inline-block row p-0">
        <div class="d-inline">
          <span class="badge badge-pill badge-secondary mr-2">{{sov.repertoire.duration.hours() + "H " + sov.repertoire.duration.minutes() + "M"}}</span>
          <span class="badge badge-pill badge-primary">{{sov.repertoire.tracks.length}} SONGS</span>
        </div>
        <div class="d-inline ml-2">
          <i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>

    <div class="playlist-content" *ngIf="sov.isOpen">
      <div class="playlist-header playlist-content-header py-3" (click)="sov.isOpen = !sov.isOpen">
        <div class="row mx-2">
          <img src="{{sov.artwork}}" class="playlist-artwork w-25 col m-0 pl-0 pr-3">
          <div class="m-0 p-0 text-left col">
            <div class="d-flex">
              <h4 class="flex-grow-1 m-0">{{sov.title}}</h4>
              <i class="fas fa-caret-up m-0 my-auto mx-3"></i>
            </div>
            <p class="d-block m-0" [innerHTML]="sov.intro"></p>
          </div>
        </div>

      </div>
      <hr class="m-0" />
      <div class="playlist-songs" class="col m-0 p-0">
        <div class="song-title-row row m-0 py-2">
          <p class="m-0 p-0 add-button"></p>
          <div class="d-flex flex-grow-1 row">
            <p class="song-number text-center col-1 m-0 p-0"><small>NO.</small></p>
            <p class="song-title text-left text-truncate col-9 m-0 p-0"><small>TITLE</small></p>
            <p class="song-duration text-center col-2 m-0 p-0"><small>DUR.</small></p>
          </div>
        </div>
        <div class="song row m-0 py-2" *ngFor="let song of sov.repertoire.tracks; let i = index">

          <div placement="bottom-left" class=" my-auto p-0 m-0 add-button small text-center" display="static" ngbDropdown>
            <i id="dropdownBasic2" class="fa fa-plus" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
          </div>
          <div class="d-flex flex-grow-1 row">
            <p class="song-number text-center col-1 m-0 p-0"><small>{{i+1}}</small></p>
            <p class="song-title text-left text-truncate col-9 m-0 p-0">{{song.title}} <small class="song-composer">{{song.composer}}</small></p>
            <p class="song-duration text-center col-2 m-0 p-0"><small>{{song.duration | formatDuration}}</small></p>
          </div>
        </div>
      </div>
    </div>

    <hr *ngIf="!isLast" class="m-0" />

  </div>

</div>
<div class="bottom-padder"></div>